<html data-color-mode="dark" data-dark-theme="dark_dimmed">

<head>
  <meta charset="utf-8">
  <title>Title</title>
  <link rel="stylesheet" href="public/index.css">
</head>

<body>
  <h1> Hello world </h1>

  <div data-color-mode="dark" data-dark-theme="dark" class="p-3">
    <h4>Dark</h4>
    <code class="d-block mt-1 mb-3 color-fg-muted">
      data-color-mode="dark" data-dark-theme="dark"
    </code>
    <button class="btn">Button</button>
    <span class="Label ml-2">Label</span>
    <span class="Counter ml-2">123</span>
  </div>
</body>

</html>