<html data-color-mode="dark" data-dark-theme="dark_dimmed">

<head>
  <meta charset="utf-8">
  <title>Title</title>
  <link rel="stylesheet" href="public/index.css">
</head>

<body>
  <div class="container mx-auto px-4 m-4 columns-2">
    <div class="p-6 max-w-sm mx-auto bg-black rounded-xl shadow-lg flex items-center">
      <div class="shrink-0">
        <div class="ml-6 pt-1">
          <p id="clock" class="text-base text-gray-500">12:00am</p>
        </div>
        </div>
        </div>
        <div class="p-6 max-w-sm mx-auto bg-black rounded-xl shadow-lg flex items-center">
          <div class="shrink-0">
            <div class="ml-6 pt-1">
              <p id="connections" class="text-base text-gray-500">0 connections</p>
            </div>
          </div>
    </div>
  </div>
</body>

<script type="module" src="public/index.js"></script>

</html>